.footer_section,.left_part{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    // color: #6B6C6E;
    color: var(--color_text_dark);
    font-size: .7rem;
    font-weight: bold;
}
.left_part{
    flex: .5;
}
.right_part{
    margin-right: 10px;
}
.footer_section{
    padding-top: 20px;
    margin: 30px 1px;
    border-top: 1px solid var(--color_text_dark);
}
.change{
    // color: #36A4A2;
    color: var(--colour_blue);

}
@media screen and (min-width:768px){
    .left_part{
        flex: .3;
    }
}